<h2> Minifig List </h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th> Id </th>
      <th> Name </th>
      <th> Code </th>
      <th> Actions </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let minifig of minifigs">
      <td>{{ minifig.id }}</td>
      <td>{{ minifig.name }}</td>
      <td>{{ minifig.code }}</td>
      <td>
        <button (click)="editMinifig(minifig.id)" class="btn btn-info"> Edit </button>
        <button (click)="deleteMinifig(minifig.id)" class="btn btn-danger" style="margin-left: 10px"> Delete </button>
        <button (click)="viewMinifig(minifig.id)" class="btn btn-info" style="margin-left: 10px"> View </button>
      </td>
    </tr>
  </tbody>
</table>
